# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Entornos virtuales
venv/
env/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Datos sensibles (no subir datos crudos si son privados)
# data/raw/

# IDEs
.idea/
.vscode/
*.iml

# Temporales de Office
~$*

# Auxiliares locales de Power BI
powerbi/*.json

# macOS
.DS_Store

# Logs
*.log

# Distribuciones
dist/
build/
*.egg-info/
